.container{
	display:block;
	padding:10px;
	background-color: #D3D3D3;
}
ul{
	/* background-color: #D3D3D3; */
	/* padding: 10px; */
	display: flex;
	/* display: inline-block; */
	/* list-style-type:none;	 */
}

li{
	/* padding: 10px; */
	margin-right: 16px;
	list-style-type:none;
}
